@media (max-width: 600px) {
    #chart-functions-exit {
        height: 27px;
        font-size: 0.9rem;
    }
    #celu-download-button-width, #delete-files {
        min-width: 135px;
        font-size: 1.14rem;
        height: 37px;
        margin-bottom: 35px;
    }
    #chart-functions-buttons-container {
        width: 90%;
    }
    .celu-font-size {
        font-size: 1.05rem;
    }
}

@media (min-width: 1900px) {
    #delete-files,
    #celu-download-button-width {
        font-size: 1.65rem;
    }

    #delete-all-files {
        bottom: 0;
        height: 130%;
    }

    #chart-functions-exit {
        left: 25px;
        width: 10%;
        font-size: 1.5rem;
    }
}