@media (max-width: 600px) {
      #chart-functions-container {
        left: 0%;
        right: 0%;
      }
}

@media (min-width: 1200px) { 
  #chart-functions-buttons-container div {
    justify-content: center;
  }

  #chart-functions-exit {
    height: 30%;
  }
}