@media (max-width: 600px) {
    #delete-all-button-container {
        width: 77%;
        justify-content: space-between;
    }
    #delete-all-button-container button {
        width: 130px;
        height: 46%;
    }
}

@media (min-width: 1900px) {
    #delete-all-files button {
        font-size: 1.5rem;
    }
    #delete-all-files div p {
        font-size: 1.8rem;
    }
}