@media (max-width: 600px) {
    #delete-all-button-container {
        width: 77%;
        font-size: 1.14rem;
        justify-content: space-between;
        height: 55%;
    }
    #chart-functions-buttons-container {
        margin-top: 20px;
    }
    #delete-all-files {
        left: 0%;
        right: 0%;
        font-size: 1.1rem;
        z-index: 4;
    }
}

@media (min-width: 1200px) {
    #delete-all-button-container button {
        width: 40%;
        height: 60%;
    }
}

@media (min-width: 1900px) {
    #delete-all-files div p {
        font-size: 1.6vw;
    }

    #delete-all-button-container button{
        font-size: 1.25vw;
        width: 33%;
    }
}