@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

p,
h4 {
    white-space: nowrap;

}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
    #second-form-date {}

    .si {
        width: 40%;
    }

    #first-form-container {
        width: 90%;
        bottom: -180%;
        z-index: 3;
    }
}