@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

p,
h4 {
    white-space: nowrap;

}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {

    #capital-form {
        width: 67%;
    }

    #chart-capital-push {
        height: 35%;
        width: 55%;
        font-size: 1.3rem;
    }

    #data-push {
        right: 2%;
        width: 40%;
        height: 45%;
    }

    .si {
        width: 40%;
    }

    #initial-capital-title {
        font-size: 1.5rem;
    }

    #first-form-container {
        width: 90%;
        height: 70vh;
        min-height: 450px;
        max-height: 600px;
        top: -110%;
        font-size: 1.4rem;
        z-index: 3;
    }
}


@media (min-width: 1350px) {
    #initial-capital-title {
        font-size: 1.5rem;
    }

    #first-form-container {
        font-size: 1.4rem;
        max-height: 560px;
    }

    #capital-form {
        font-size: 1.5rem;
    }
}


@media (min-width: 1900px) {

    #first-form-container {
        width: 22vw;
        height: 70vh;
        max-height: 700px;
    }

    #attach-data {
        font-size: 1.05rem;
    }

    #initial-capital-title {
        font-size: 1.9rem;
    }

    #capital-form,
    #first-form-container {
        font-size: 1.8rem;
    }

    #capital-form {
        width: 60%;
        height: 20%
    }

    #date {
        font-size: 1.45rem;
        height: 40px;
    }

    #chart-capital-push {
        font-size: 1.6rem;
        width: 45%;
        height: 33%;
    }
}