@media (max-width: 700px) {
    #initial-form-container {
        margin-bottom: 150px;
    }
}

@media (min-width: 1700px) {
    #initial-form-container {
        max-width: 1000px;
        width: 20vw;
    }
    
    #initial-form {
        padding: 0.8vw;
    }

    #form-header {
        padding: 1.2vw;
        border-bottom: 0.40vw solid #0047e1;
    }

    #form-header h1 {
        font-size: 2.1vw;
    }

    #push-chart-data-container {
        margin-right: 1vw;
    }

    #push-chart-data-container div {
        margin-top: 0.10vw;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
    }

    #push-chart-data-container div span {
        font-size: 0.9vw;
    }  
}