@media (min-width: 1900px) {
    #data-file, #operations-indication {
        font-size: 135%;
    }
}

@media (max-width: 600px) {
    #data-container {
        height: 85vh;
        width: 90%;
    }
}