@keyframes coffeeAnimacion {
    /* 0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    } */

    0% {
        opacity: 0;
    }

    /* El elemento estará invisible al principio (0% de la animación) */
    100% {
        opacity: 1;
    }
}

@keyframes animacion {
    0% {
        color: #061539;
    }

    100% {
        color: white;
    }
}

@keyframes bordeChange {
    0% {
        color: #061539;
        border-bottom: 1px solid #061539;
    }

    100% {
        color: white;
        border-bottom: 1px solid #2563eb;
    }
}

@keyframes colorChangeOrange {
    0% {
        color: #061539;
        visibility: hidden;
    }

    100% {
        color: orange;
        visibility: visible;
    }
}

@keyframes orangeBorder {
    0% {
        border-top: 1px solid #061539;
    }

    100% {
        border-top: 3px solid orange;
    }
}

.coffee {
    animation-name: coffeeAnimacion;
    animation-duration: 7s;
}

#footerButton:hover {
    color: orange;
    transition: color 0.3s;
    transition-timing-function: ease-in-out;
}

#footerButton {
    transition: color 0.3s;
    transition-timing-function: ease-in-out;
}

#footerOff {
    position: absolute;
    bottom: -15vh;
    height: 15vh;
    border-top: 1px solid orange;
    transition: background-color 1s, height 1s, border 1s;
    transition-timing-function: ease-in-out;
}

#footerOn {
    background-color: #062872;
    border-top: 3px solid orange;
    transition: background-color 1.5s, height 1s, display 3s, border 1s;
    transition-timing-function: ease-in-out;
    position: absolute;
    bottom: -15vh;
    height: 30vh;
}

#footerDisplayOff {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#footerDisplayOn {
    width: 85%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.secondContentOff {
    display: none;
    justify-content: center;
    align-items: center;
}

.secondContentOn {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.footerTextOff {
    color: #1642b1;
    display: none;
    transition: color 0.5s, display 0.5s;
    transition-timing-function: ease-in-out;
}

.secondFooterTextOn {
    display: flex;
}

.animacion {
    animation: animacion 3s;
}

.animacion-borde {
    animation: bordeChange 3s;
}

.orange-animation {
    animation: colorChangeOrange 3s;
}

.secondFooterTextOff {
    color: #061539;
    transition: color 4s;
}

@media (max-width: 600px) {
    #footerOff {
        position: absolute;
        height: 100px;
        border-top: 1px solid orange;
        transition: background-color 1s, height 1s, border 1s;
        transition-timing-function: ease-in-out;
    }

    #footerOff,
    #footerOn {
        bottom: -100px;
    }

    #footerOn {
        height: 320px;
        animation: orangeBorder 3s;
    }

    #footerButton {
        width: 90px;
        height: 45px;
        left: 0px;
        top: 0px;
    }

    .secondContentOn {
        justify-content: center;
        position: relative;
    }

    .miau {
        bottom: -15px;
    }

    #crypto-transfer {
        justify-content: end;
        height: 40%;
    }
}

@media (min-width: 1900px) {

    #footerOff,
    #footerOn {
        bottom: -140px;
    }

    #footerOn {
        font-size: 130%;
    }

    .footer-title {
        font-size: 160%;
    }

    #cafe-footer-title {
        font-size: 130%;
    }

    #crypto-footer-title {
        font-size: 158%;
    }

    #coffee-support {
        margin-bottom: 1.5%;
    }

    #footerOff {
        height: 140px;
        font-size: 123%;
    }
}