@media (max-width: 600px) {
    #form-left {
        margin-right: 10px
    }

    #form-right {
        margin-left: 10px
    }

    #loss-button,
    #profit-button {
        width: 130px;
        height: 42px;
    }
    #chart-form-container {
        height: 120px;
        width: 100vw;
        z-index: 10;
    }
    #chart-second-form {
        width: 100%;
        border: none;
    }

    #push-form-container {
        width: 100vw;
    }

    .chart-input {
        height: 30px;
    }
}


@media (min-width: 900px) {
    #chart-second-form {
        margin-top: 0.3vw;
        margin-bottom: 0.3vw;
    }
    #loss-button:hover {
        background-color: rgb(211, 137, 0);
    }
    #profit-button:hover {
        background-color: #2563eb;
    }
}

@media (min-width: 1900px) {
    #chart-second-form {
        height: 6.5vw;
        margin-top: 0.3vw;
        margin-bottom: 1vw;
        width: 60vw;
    }

    #push-form-container {
        font-size: 140%;
    }
    #chart-input-loss,
    #chart-input-gain {
        height: 50px;
        font-size: 105%;
        display: flex;
        align-items: end;
    }
    #loss-button,
    #profit-button {
        font-size: 1.57rem;
        height: 3vw;
    }
}