  
  .swiper {
    position: absolute;
    width: 200%;
    height: 90%;
    padding: 15%;
    border-radius: 10%;
  }

  .swiper-pagination span {
    background-color: #2563eb;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: white;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px) {
    .swiper {
      width: 220% ;
    }

    #chart-functions-button {
      width: 60%;
    }

    .carousel-date {
      width: 54%;
    }
  }

  @media (min-width: 1900px) {
    .swiper {
      width: 180%;
      height: 90%;
    }
    #chart-options {
      height: 88%;
    }
    #date {
      font-size: 110%;
    }
    #switch-content {
      font-size: 120%;
    }
  }