@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Electrolize&family=Encode+Sans+Condensed:wght@100&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.barlow {
  font-family: 'Barlow', sans-serif;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

input[type=number] {
  -moz-appearance: textfield;
}

#files-container {
  height: 55vh;
  overflow-y: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*mozilla*/

* {
  scrollbar-color: #5b73ac #003099;
}

/*Chrome body*/

body::-webkit-scrollbar {
  background-color: #062872;
}

body::-webkit-scrollbar-thumb {
  background-color: #4f6bac;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #687ca9;
}

/*Chrome div*/

div::-webkit-scrollbar {
  background-color: #122484;
}

div::-webkit-scrollbar-thumb {
  background-color: #4f6bac;
  border-radius: 3px;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: #687ca9;
}

@media (max-width: 900px) {
  .chart {
    height: 170px;
  }

  .chart-options {
    height: 60%;
  }
}


@media (max-width: 600px) {

  #delete-all-files div p {
    font-size: 1.3rem;
  }

  #switch {
    height: 23px;
    width: 43px;
  }

  #files-container {
    font-size: 0.95rem;
    height: 47vh;
  }

  .chart-input {
    width: 100px;
  }

  .chart {
    height: 190px;
  }

  .header {
    height: 60px;
  }

  .chart-options {
    height: 90px;
  }

  .initial-adjustment {
    height: 30vh;
  }

  #cafecito {
    position: relative;
  }
}

@media (max-height: 400px) {
  .chart {
    width: 80%;
    height: 80%;
  }

  .chart-options {
    height: 90px;
  }

  .chart-submit {
    min-width: 170px;
  }

  #delete-last-file {
    background-color: #07103e;
    width: 85%;
    z-index: 5;
  }
}


@media (min-width: 1350px) {

  #chart-functions-button {
    height: 150%;
    width: 60%;
  }

  #switch {
    height: 120%;
    width: 55%;
  }

  h4 {
    font-size: 1rem;
  }

  #attach-data {
    font-size: 1 rem;
  }

  #carousel-date {
    height: 150%;
    font-size: 1.2rem;
  }

  .chart-input {
    font-size: 1.1rem;
    width: 40%;
  }

  .chart-submit {
    font-size: 1.1rem;
    height: 6vh;
    width: 70%;
  }

  #data-file {
    height: 13%;
  }

  #data-container {
    font-size: 1.1rem;
  }

  .chart {
    height: 63%;
    width: 69%;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #061333;
  overflow: hidden;
  filter: brightness(70%);
}

.background span {
  width: 29vmin;
  height: 29vmin;
  border-radius: 29vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 41;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #003099;
  top: 91%;
  left: 70%;
  animation-duration: 40s;
  animation-delay: -84s;
  transform-origin: 14vw -6vh;
  box-shadow: 58vmin 0 7.569842039287071vmin currentColor;
}

.background span:nth-child(1) {
  color: #003099;
  top: 13%;
  left: 97%;
  animation-duration: 40s;
  animation-delay: -19s;
  transform-origin: 9vw 6vh;
  box-shadow: 58vmin 0 7.752160996800121vmin currentColor;
}

.background span:nth-child(2) {
  color: #003099;
  top: 3%;
  left: 77%;
  animation-duration: 40s;
  animation-delay: 0s;
  transform-origin: -9vw -13vh;
  box-shadow: 58vmin 0 7.260528080297866vmin currentColor;
}

.background span:nth-child(3) {
  color: #003099;
  top: 38%;
  left: 63%;
  animation-duration: 40s;
  animation-delay: 0s;
  transform-origin: -22vw -17vh;
  box-shadow: 58vmin 0 7.894851790701842vmin currentColor;
}

.background span:nth-child(4) {
  color: #003099;
  top: 73%;
  left: 45%;
  animation-duration: 40s;
  animation-delay: 0s;
  transform-origin: 3vw 9vh;
  box-shadow: 58vmin 0 7.91169658949849vmin currentColor;
}

.background span:nth-child(5) {
  color: #003099;
  top: 16%;
  left: 96%;
  animation-duration: 45s;
  animation-delay: 0s;
  transform-origin: -17vw 18vh;
  box-shadow: -58vmin 0 7.783921258941867vmin currentColor;
}

.background span:nth-child(6) {
  color: #ff8000;
  top: 61%;
  left: -3%;
  animation-duration: 41s;
  animation-delay: 0s;
  transform-origin: 17vw 18vh;
  box-shadow: 58vmin 0 7.882433722418018vmin currentColor;
}

.background span:nth-child(7) {
  color: #ff8000;
  top: 42%;
  left: 100%;
  animation-duration: 49s;
  animation-delay: -87s;
  transform-origin: -19vw -2vh;
  box-shadow: -58vmin 0 7.558190594784111vmin currentColor;
}

.background span:nth-child(8) {
  color: #003099;
  top: 78%;
  left: 60%;
  animation-duration: 33s;
  animation-delay: -19s;
  transform-origin: -8vw -9vh;
  box-shadow: 58vmin 0 7.357087393846742vmin currentColor;
}

.background span:nth-child(9) {
  color: #ff8000;
  top: 73%;
  left: 51%;
  animation-duration: 41s;
  animation-delay: -31s;
  transform-origin: 12vw 22vh;
  box-shadow: 58vmin 0 7.384612808239899vmin currentColor;
}

.background span:nth-child(10) {
  color: #003099;
  top: 38%;
  left: 95%;
  animation-duration: 39s;
  animation-delay: -56s;
  transform-origin: -5vw 1vh;
  box-shadow: 58vmin 0 8.24719921336561vmin currentColor;
}

.background span:nth-child(11) {
  color: #003099;
  top: 68%;
  left: 96%;
  animation-duration: 77s;
  animation-delay: -34s;
  transform-origin: 25vw -4vh;
  box-shadow: 58vmin 0 8.070718686525053vmin currentColor;
}

.asdd {
  background-color: #003099;
}