@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

input[type=number] {
  -moz-appearance: textfield;
}

#files-container {
  height: 55vh;
  overflow-y: auto;
}


@media (max-width: 900px) {
  .chart {
    height: 170px;
  }

  .chart-options {
    height: 60%;
  }

  #chart-form-container {
    width: 80%;
  }
}


@media (max-width: 600px) {

  #delete-last-file {
    background-color: #07103e;
    font-size: 0.9rem;
    width: 95%;
    min-height: 120px;
    z-index: 5;
  }

  #delete-last-file-question {
    font-size: 1.2rem;
  }

  #switch {
    height: 23px;
    width: 43px;
  }

  #data-container {
    width: 90%;
    height: 56vh;
  }

  #files-container {
    font-size: 0.95rem;
    height: 47vh;
  }

  .chart-input {
    width: 100px;
  }

  .chart-submit {
    width: 100px;
  }

  .chart {
    height: 190px;
  }

  #chart-form-container {
    height: 120px;
    width: 90%;
  }

  #chart-second-form {
    width: 96vw;
  }

  #date-selector {
    top: -70%;
  }

  .form {
    height: 10vh;
  }

  .header {
    height: 60px;
  }

  .chart-options {
    height: 90px;
  }

  #chart-functions-exit {
    left: 8px;
    top: 4px;
  }

  #chart-functions-buttons-container {
    margin-top: 24px;
  }

  @media (max-height: 740px) {
    #data-container {
      height: 60vh;
    }
  }
}

@media (max-height: 400px) {
  .chart {
    width: 80%;
    height: 80%;
  }

  .chart-options {
    height: 90px;
  }

  .chart-submit {
    min-width: 170px;
  }

  #delete-last-file {
    background-color: #07103e;
    width: 85%;
    z-index: 5;
  }
}


@media (min-width: 1350px) {

  #chart-functions-button {
    height: 150%;
    width: 60%;
  }
  #switch {
    height: 120%;
    width: 55%;
  }

  #initial-capital-title {
    font-size: 1.6rem;
  }

  #capital-form {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  #attach-data {
    font-size: 1 rem;
  }

  #carousel-date{
    height: 150%;
    font-size: 1.2rem;
  }

  .chart-input {
    font-size: 1.1rem;
    width: 40%;
  }

  #first-form-container {
    font-size: 1.5rem
  }

  .chart-submit {
    font-size: 1.1rem;
    height: 6vh;
    width: 70%;
  }

  #data-file {
    height: 13%;
  }

  #data-container {
    font-size: 1.1rem;
  }

  .chart {
    height: 60%;
    width: 70%;
  }
}